
.button-holder {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.text-holder {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.pay-button2{
  width: 300px;
  height: 110px;
  margin: 10px;
  border-radius: 10px;
  cursor: pointer;
  background-color: gray;
  color: white;
  font-size: 20px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

.pay-button2:active {
  background-color: white;
  color: gray;;
}