.tip-button {
  width: 300px;
  height: 80px;
  margin: 10px;
  border-radius: 10px;
  cursor: pointer;
  background-color: gray;
  color: white;
  font-size: 20px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
  }

  .tip-button:active {
    background-color: white;
    color: gray;
  }

  .apply-button {
    width: 220px;
    height: 50px;
    margin: 10px;
    border-radius: 10px;
    cursor: pointer;
    background-color: red;
    color: white;
    font-size: 20px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
  }

  .footer {
    display: flex;
    justify-content: center;
  }