.tip-button {
  width: 300px;
  height: 80px;
  margin: 10px;
  border-radius: 10px;
  cursor: pointer;
  background-color: gray;
  color: white;
  font-size: 20px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
  }
  .tip-button:focus,
  .tip-button:active {
    background-color: rgb(223, 223, 223); /* Change to a lighter shade of gray */
    color: black; /* Change to black or another darker color */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5); /* Adjust shadow for a pressed effect */
    border-color: black; /* Change border color to indicate selection */
  }

  .apply-button {
    width: 220px;
    height: 50px;
    margin: 10px;
    border-radius: 10px;
    cursor: pointer;
    background-color: red;
    color: white;
    font-size: 20px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
  }